-- NPP Patron poster_path backfill
-- 111 posters found, 6 missing
-- Run in Supabase SQL Editor

UPDATE community_items SET poster_path = '/zyaK5EIPuaZhp4THmcFySJwMPKT.jpg' WHERE tmdb_id = 289 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/lOMGc8bnSwQhS4XyE1S99uH8NXf.jpg' WHERE tmdb_id = 346 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/aJWQNUUHVcI7kvlVdUzPS9J8XHt.jpg' WHERE tmdb_id = 11128 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/bqKNoySmI4eOjsSjJEnLj4j2HAp.jpg' WHERE tmdb_id = 1372 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/oexVZ419LUVBiZnBYgDfnUS1Ufv.jpg' WHERE tmdb_id = 3053 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/6x7MzQ6BOMlRzam1StcmPO9v61g.jpg' WHERE tmdb_id = 935 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/x8XqdiZ0Oxu5iXF9SiFub9Lae8J.jpg' WHERE tmdb_id = 12233 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/zfTWQD3UWJNlv44VLljjLcU3hWA.jpg' WHERE tmdb_id = 16180 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/cf43J2SH8tECZVl9N5n0Q6Ckche.jpg' WHERE tmdb_id = 11230 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/dW9h1Ez6PRx8PnZUVT27MnG8Wu5.jpg' WHERE tmdb_id = 9642 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/4zKQ9Wz68tLQ4WGirHDNXR1NdLf.jpg' WHERE tmdb_id = 10989 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/hEjK9A9BkNXejFW4tfacVAEHtkn.jpg' WHERE tmdb_id = 1366 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/lYfRc57Kx9VgLZ48iulu0HKnM15.jpg' WHERE tmdb_id = 856 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/cv6neov6SMLjHytjiU0rgeugoPI.jpg' WHERE tmdb_id = 9421 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/dEtjPywhDbAXYjoFfhBC4U9unU7.jpg' WHERE tmdb_id = 703 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/5RBZsOKMMxnp8L6UmOiylKOw4yo.jpg' WHERE tmdb_id = 13836 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/4uhy3iCEBnY2SyXDo4lUpuj5j8N.jpg' WHERE tmdb_id = 19688 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/vxTgbgiDUiv66xk0R28hlUua1P6.jpg' WHERE tmdb_id = 40060 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg' WHERE tmdb_id = 238 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/wPmZYnaQpxwoHmwNwVhZ2IY0UbF.jpg' WHERE tmdb_id = 9691 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/3ibptSbnAHd0SUBnOKapNZQBpCl.jpg' WHERE tmdb_id = 11832 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/s1etp9ZqcRqZVfonrdFJbQ6mgk9.jpg' WHERE tmdb_id = 9895 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/ceG9VzoRAVGwivFU403Wc3AHRys.jpg' WHERE tmdb_id = 85 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/isA0acj3ONKBLp1pKadUNzxEPFv.jpg' WHERE tmdb_id = 11688 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/fmBYVkBjhVspPv3GGus84qhBo1a.jpg' WHERE tmdb_id = 9384 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/AirrhRJjHwytOV0pdLu7YZ4DEyr.jpg' WHERE tmdb_id = 8195 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/it52uz6io8cA6WGzWxSbn9jgRlu.jpg' WHERE tmdb_id = 10553 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/n3pxoMDDxp10c1smgbDzW4bwlzq.jpg' WHERE tmdb_id = 10882 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/r5QnLY30gXlZ8luiJE3quDs1WNF.jpg' WHERE tmdb_id = 13938 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/5nHZ3wflOifKJMUcTCw0isKhmCv.jpg' WHERE tmdb_id = 13633 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/vaUkSL7PbeeKfdFKOh9TYR9M1ds.jpg' WHERE tmdb_id = 11547 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/otptPbEY0vBostmo95xwiiumMJm.jpg' WHERE tmdb_id = 10009 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/7L4qwrC1mipZXJfU5oRgQWChLv1.jpg' WHERE tmdb_id = 11051 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/kMKyx1k8hWWscYFnPbnxxN4Eqo4.jpg' WHERE tmdb_id = 600 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/73JahFiizkMVsrrslXInmNK54nC.jpg' WHERE tmdb_id = 11982 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/nnl6OWkyPpuMm595hmAxNW3rZFn.jpg' WHERE tmdb_id = 4011 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/31t63plEGKHhYuuCpC9bFWO9SBS.jpg' WHERE tmdb_id = 3063 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/zVvyTrcZQb7kC2DPDzyo25WcxXp.jpg' WHERE tmdb_id = 11003 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/6d5XOczc226jECq0LIX0siKtgHR.jpg' WHERE tmdb_id = 6977 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/neZ0ykEsPqxamsX6o5QNUFILQrz.jpg' WHERE tmdb_id = 149 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/gtqktwlZVseDW3XkuGQEYGSKTcj.jpg' WHERE tmdb_id = 14387 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/as8xF0wOawngZ1G3qg5gs0VQea3.jpg' WHERE tmdb_id = 13925 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/u3dOmUd6LlAdbj7bWODlRxC98fX.jpg' WHERE tmdb_id = 31966 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/6pQpZu6JjPsbHzjhG545OsjU2TG.jpg' WHERE tmdb_id = 11252 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/9OkCLM73MIU2CrKZbqiT8Ln1wY2.jpg' WHERE tmdb_id = 769 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/t83Clkhrq2CvfK0Xhh8zHmrf3aO.jpg' WHERE tmdb_id = 8891 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/zKuQMtnbVTz9DsOnOJmlW71v4qH.jpg' WHERE tmdb_id = 9598 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/a3gDK1e9eXt4U5aJTiPefLyiv3W.jpg' WHERE tmdb_id = 9561 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/dVoXOqczPVK6HuWLhkXYwrvOLkl.jpg' WHERE tmdb_id = 12255 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/l77DRjJuykqKMtD9GTK4YT7qKHW.jpg' WHERE tmdb_id = 11050 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/7c24IjdewTfL3W5NiRoRRYrwNun.jpg' WHERE tmdb_id = 10659 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/gCgt1WARPZaXnq523ySQEUKinCs.jpg' WHERE tmdb_id = 137 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg' WHERE tmdb_id = 424 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/oQffRNjK8e19rF7xVYEN8ew0j7b.jpg' WHERE tmdb_id = 9479 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/miT42qWYC4D0n2mXNzJ9VfhheWW.jpg' WHERE tmdb_id = 10663 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/rVaKt2stFzTfae2VEuTz3hlF3yC.jpg' WHERE tmdb_id = 9308 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/wNUAnXV1mzOOfvnVBIYsalkk078.jpg' WHERE tmdb_id = 11978 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/9RxE6kd1ky4689WxqX6CHEpIWya.jpg' WHERE tmdb_id = 10657 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/99X2SgyFunJFXGAYnDv3sb9pnUD.jpg' WHERE tmdb_id = 629 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/HZQBF7JDd2e9p4rPSbSHuWHaCC.jpg' WHERE tmdb_id = 10607 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/sIIahTE5sfOJtieytf252kB9RcS.jpg' WHERE tmdb_id = 8080 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/fQZ3sLR1Fi63NMsNRbjm9q5qODJ.jpg' WHERE tmdb_id = 17578 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/20cvfwfaFqNbe9Fc3VEHJuPRxmn.jpg' WHERE tmdb_id = 12092 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/kjq1FXtHh9i2sIuM0JaoYf43FDU.jpg' WHERE tmdb_id = 10753 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/zvm4WuYxTiGkRagRqHUey0meRQL.jpg' WHERE tmdb_id = 9613 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg' WHERE tmdb_id = 597 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/8xMeKeXGHY2KbiMjSpEGqlIjAEp.jpg' WHERE tmdb_id = 9507 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/mfnkSeeVOBVheuyn2lo4tfmOPQb.jpg' WHERE tmdb_id = 637 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/cnBw87wu31s6VM6LKilokFwgqZu.jpg' WHERE tmdb_id = 11175 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/cz2MTGr2wpDZLirgV2rGHBdA2t3.jpg' WHERE tmdb_id = 10858 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/4jS66Qmq2Ru5S2YzHVknGd4xJyT.jpg' WHERE tmdb_id = 9778 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/8MZSGX5JORoO72EfuAEcejH5yHn.jpg' WHERE tmdb_id = 644 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/3pO8Ur0tfOlBr2m9zJxMMm5Ha1F.jpg' WHERE tmdb_id = 1589 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/4sRR3pvrAZMG7GEvnR9XzqyHHfD.jpg' WHERE tmdb_id = 10373 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/5BrXCJrs22bR5KR6mLHluYo6y4m.jpg' WHERE tmdb_id = 11024 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/ce3NNmhVZY5NkUe5Y8Je8CciKqf.jpg' WHERE tmdb_id = 10760 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/5MwkWH9tYHv3mV9OdYTMR5qreIz.jpg' WHERE tmdb_id = 38 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/yaA8q2zHHUgFWdJNxXyAdU71SzM.jpg' WHERE tmdb_id = 10010 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/7sfbEnaARXDDhKm0CZ7D7uc2sbo.jpg' WHERE tmdb_id = 16869 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/fnKCh67l2DDG9NxxIlk9IpsXQ99.jpg' WHERE tmdb_id = 9928 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/hRVP8Ud9ehv7tp5WWQ4CHk2XNus.jpg' WHERE tmdb_id = 10929 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/lyDXkvG53ldz6Cf7dbjJl7TaoP5.jpg' WHERE tmdb_id = 2769 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/1erlBZP5BKOvZJQ7yv0eDpKrY47.jpg' WHERE tmdb_id = 28061 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/nRi5BXDpBRKFhHQYUKvUGS3Y5D0.jpg' WHERE tmdb_id = 45191 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/6pszViNvKr1r31pP7gJNYDHEx5P.jpg' WHERE tmdb_id = 64685 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/4yIQq1e6iOcaZ5rLDG3lZBP3j7a.jpg' WHERE tmdb_id = 60308 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/xdANQijuNrJaw1HA61rDccME4Tm.jpg' WHERE tmdb_id = 76203 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/ohdUDWVlcbuWphaLu6wS91xdJ73.jpg' WHERE tmdb_id = 71679 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/ezUtb9m5DeLwL2gxi4gktzNCvQv.jpg' WHERE tmdb_id = 220289 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/tY6ypjKOOtujhxiSwTmvA4OZ5IE.jpg' WHERE tmdb_id = 116745 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/vJgtfUmZE5i4L12sOryAPuBa04K.jpg' WHERE tmdb_id = 190859 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/zap5hpFCWSvdWSuPGAQyjUv2wAC.jpg' WHERE tmdb_id = 310131 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg' WHERE tmdb_id = 150540 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/q719jXXEzOoYaps6babgKnONONX.jpg' WHERE tmdb_id = 372058 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/x2FJsf1ElAgr63Y3PNPtJrcmpoe.jpg' WHERE tmdb_id = 329865 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/c9S6VKZPllNgdxBUuI3GYJiqcKO.jpg' WHERE tmdb_id = 283552 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/tFXcEccSQMf3lfhfXKSU9iRBpa3.jpg' WHERE tmdb_id = 419430 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/snGwr2gag4Fcgx2OGmH9otl6ofW.jpg' WHERE tmdb_id = 324849 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/cdefNr6aS00IwVbSlxdFJnfmzKh.jpg' WHERE tmdb_id = 401981 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/d08HqqeBQSwN8i8MEvpsZ8Cb438.jpg' WHERE tmdb_id = 566525 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/jgyaNKcFhGW0WjY7pjH71QceFIY.jpg' WHERE tmdb_id = 468160 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/iT5iF6fEIQ1VwiLe0sWDMDO0hvx.jpg' WHERE tmdb_id = 476397 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/dlkR8uWDXIkFnQOd8UqZcV4xsLP.jpg' WHERE tmdb_id = 498167 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg' WHERE tmdb_id = 496243 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/hKjBQhsnCMt86kPKpPwV4meeFPo.jpg' WHERE tmdb_id = 567690 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/kJaEVFhDouD72GKANMkYqzQky9n.jpg' WHERE tmdb_id = 804413 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/u68AjlvlutfEIcpmbYpKcdi09ut.jpg' WHERE tmdb_id = 545611 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/AcKVlWaNVVVFQwro3nLXqPljcYA.jpg' WHERE tmdb_id = 762504 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/kCGlIMHnOm8JPXq3rXM6c5wMxcT.jpg' WHERE tmdb_id = 792307 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/vy14tKxsbJYdDyFl6kQuVkK2s44.jpg' WHERE tmdb_id = 919207 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');
UPDATE community_items SET poster_path = '/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg' WHERE tmdb_id = 1022789 AND miniseries_id IN (SELECT id FROM community_miniseries WHERE community_id = 'dc0ff496-dce9-4dbf-b56e-5967be6b3b9c' AND tab_key = 'patreon');

-- Missing poster_path (check tmdb_id):
-- tmdb_id: 974
-- tmdb_id: 13519
-- tmdb_id: 16749
-- tmdb_id: 19193
-- tmdb_id: 357565
-- tmdb_id: 536948
